
.ask-form {
    width: 25cm;
    position: relative;
    top: 5cm;
    left: 7cm;
    text-align: left;
}

.label {
    font-size: 20px;
    text-align: left;
}

.heading {
    height: 2.5cm;
}

#question {
    position: relative;
    top: 1cm;
}

#tags {
    position: relative;
    top: 2cm;
}

.tag-list {
    background-color: white;
    position: relative;
    top: 0.5cm;
}

.form-button {
    position: relative;
    top: 3cm;
}
